@model IEnumerable<Clinic.Entities.Models.Page>

@{
    ViewData["Title"] = "Pages";
    ViewData["BreadcrumbAnchor"] = "Pages";
    ViewData["BreadcrumbLink"] = "/Pages";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-admin">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PageAnchorText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageLinkPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhoAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PageAnchorText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageLinkPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhoAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="table-actions">
                    <a asp-action="Edit" asp-route-id="@item.PageId"><img src="~/img/pencil-square.svg" alt="Edit" width="16" height="16"></a> |
                    <a asp-action="Delete" asp-route-id="@item.PageId"><img src="~/img/x-square.svg" alt="Delete" width="16" height="16"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
