@model Clinic.Entities.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageSmall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageSmall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortPresentation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortPresentation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHomePage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHomePage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoRemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenRemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DoctorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
