@model Clinic.Models.Parameter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoRemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenRemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ParameterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
