@model IEnumerable<Clinic.Database.Data.Page>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PageAnchorText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageLinkPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhoAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhoModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhoRemoved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenRemoved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PageAnchorText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageLinkPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhoAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhoModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhoRemoved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenRemoved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
