@model IEnumerable<Clinic.Entities.Models.Parameter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped table-primary table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhoAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhoAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="table-actions">
                    <a asp-action="Edit" asp-route-id="@item.ParameterId"><img src="~/img/pencil-square.svg" alt="Edit" width="24" height="24"></a> |
                    <a asp-action="Details" asp-route-id="@item.ParameterId"><img src="~/img/info-square.svg" alt="Details" width="24" height="24"></a> |
                    <a asp-action="Delete" asp-route-id="@item.ParameterId"><img src="~/img/x-square.svg" alt="Delete" width="24" height="24"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
